<div data-ng-hide="chat.logged">
    <input on-enter="login()"
           focus-me="!chat.logged"
           type="text" data-ng-model="username"/>
    <button data-ng-click="login()">Login</button>
</div>

<div data-ng-show="chat.logged">
    <!--Logged as {{username}}<br/>-->
<div style="position: absolute; top: 0; bottom: 0; right: 0; left: 0;">

    <div style="position: absolute;top: 0; bottom: 30px; right: 0; left: 0; ">

        <!--<ul>-->
        <ul style="position: absolute; bottom: 0; max-height: 100%; overflow: auto; margin: 0; right: 0; left: 0;">
            <li data-ng-class="message.type" data-ng-repeat="message in chat.messages | orderBy:'+date'"><strong>{{message.date | time}} {{message.user}}:</strong> {{message.text}}</li>
        </ul>
    </div>
    <div style="position: absolute;bottom: 0; width: 100%">
        <button style="margin: 0; width: 100px;float: right" data-ng-click="send()">Send</button>
        <div style="margin-right: 110px;">

            <input on-enter="send()"
                   focus-me="chat.logged"
                   style="width: 100%; margin: 0" type="text" data-ng-model="newMessage"/>
        </div>
    </div>
</div>
</div>